<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
	  <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="acct" value="onehousinggroup"/>
		   <add key="baseURL" value="https://onehousinggroup.csod.com/AESSSODefault.aspx?link="/> <!--gets me to Browse for training-->
	  <add key="errorURL" value="https://onehousinggroup-pilot.csod.com/common/ssoerror.htm"/>
	  <add key="logoutURL" value="https://onehousinggroup-pilot.csod.com/common/ssologout.htm"/>
	  <add key="timeoutURL" value="https://onehousinggroup-pilot.csod.com/common/ssotimeout.htm"/>
    <add key="aesKey" value="7ACB2CF4951F910EB680634F3DF7F556B35D887CAB567576A2350D652FD18B18"/>
    <add key="aesIV" value="90F1DA71732D2BD8D15324F776116A71"/>
    <add key="ouId" value="1"/>

	 <!--<add key="destURL" value="%252fDeepLink%252fProcessRedirect.aspx%253fmodule%253dbrowsetraining"/>-->
	<!--<add key="destURL" value="%252fDeepLink%252fProcessRedirect.aspx%253fmodule%253dbrowsetraining"/>-->

  </appSettings>

</configuration>
