<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authentication mode="Windows" />
    <compilation targetFramework="4.0" />
    <authorization>
	</authorization>
  </system.web>
  <appSettings>
    <add key="SqlConn" value="Data Source=OHGUHODBPRD01;User ID=DATA_LOAD;Password=DATA_LOAD;Initial Catalog=uh630live;" />
    <add key="SqlConnUser" value="Data Source=OHGDEVAPP01;User ID=DATA_LOAD;Password=DATA_LOAD;Initial Catalog=Concatenator;" />
  </appSettings>
</configuration>
<!--ProjectGuid: 1A48B7A1-5129-414D-A71A-2AEB251D4F6B-->