<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logFile" xsi:type="File"
              layout="${longdate} ${message} ${exception:format=tostring}"
              fileName="${basedir}/log.txt" />

      <target name="email" xsi:type="Mail"
            subject="Complaince Document Transfer Errors"
            to="standon@onehousing.co.uk"
            layout="${longdate} ${message} ${exception:format=tostring}"
            from="businesssupportservices@onehousinggroup.co.uk"
            smtpServer="10.1.2.101"/>
    </targets>
    <rules>
      <logger name="*" writeTo="logFile" />
      <logger name="*" minlevel="Error" writeTo="email" />
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--Important - The count of source destination pairs needs to match the list of source detination pairs mentioned below-->
    <add key="CountOfSourceDestinationPairs" value="2" />

    <!--Make sure the source destination pair has the correct number suffixed to it-->

    <!--1st source destination Pair-->
    <add key="SourceFolder1" value="C:\FileWatcher\Source1" />
    <add key="DestinationFolder1" value="C:\FileWatcher\Destination1, C:\FileWatcher\Destination3" />

    <!--2nd source destination Pair-->
    <add key="SourceFolder2" value="C:\FileWatcher\Source2" />
    <add key="DestinationFolder2" value="C:\FileWatcher\Destination2" />
    
    <add key="IntervalMinutes" value="1" />

    <add key="ArchiveDirectory" value="Completed" />
  </appSettings>
  
</configuration>