<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="StatusFolder1" value="true" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SourceFolder1" value="c:\temp\source1" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DestinationFolder1" value="c:\temp\destination1" />

    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="StatusFolder2" value="false" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SourceFolder2" value="c:\temp\source2" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DestinationFolder2" value="c:\temp\destination2" />
    
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="FileProcessed" value="#COMPLETED#" />
  </appSettings>
</configuration>