<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="AccessFile" value="\\Ohg.local\shares\HCS\Agency &amp; temp staff\database\Agency temp staff.mdb"/>
    <add key="HostName" value="152.114.216.188" />
    <add key="UserName" value="ohrlat02" />
    <add key="Password" value="Ax9zGrob" />
    <add key="Port" value="62022" />
    <add key="RemotePath" value="/inbound/var_pay/" />

    <!--<add key="HostName" value="live.oneserve.co.uk"/>
    <add key="UserName" value="OneHousing"/>
    <add key="Password" value="Kf8oyNRa"/>
    <add key="Port" value="22"/>
    <add key="RemotePath" value="/OneHousing/Test/datacut/"/>-->
  </appSettings>
</configuration>
