<?xml version="1.0"?>
<configuration>
  <system.web>
    
    <compilation targetFramework="4.0" debug="true"/>
    <authorization/>
  </system.web>
  <appSettings>
    <add key="SqlConn" value="Data Source=OHGUHODBPRD01;User ID=DATA_LOAD;Password=DATA_LOAD;Initial Catalog=uh630live;"/>
    <!--<add key="SqlConnUser" value="Data Source=OHGDEVAPP01;User ID=DATA_LOAD;Password=DATA_LOAD;Initial Catalog=Concatenator;"/>-->
    <add key="SqlConnUser" value="Data Source=OHGPRODDAT01;User ID=DATA_LOAD;Password=DATA_LOAD;Initial Catalog=Concatenator;" />
    <add key="TextLogging" value="true" />
    <add key="LogFilePath" value="c:\temp\Log.txt" />
  </appSettings>
</configuration>